
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    margin-bottom: 36px;
}   

.nav-tittle{
    font-weight: 800px;
    font-size: 28;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    color: rgba(13, 19, 33, 1);
}

.btn-primary{
    border-radius: 8px;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
}
.btn-secondary{
    background-color: rgba(13, 19, 33, 1);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 21px 24px;
}
.btn-main{
    font-size: 20px;
    font-weight: 700px;
    padding: 12px 20px;
}
.btn-main a{
    text-decoration: none;
    color: rgba(13, 19, 33, 1);
}
/* Banner styles */
.banner {
    text-align: center;
    max-width: 1440px;
}

.banner-greetings{
    font-size: 48px;
    font-weight: 800;
}

.banner-description{
    font-size: 16px;
    font-weight: 400px;
}

.bg-image{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
}
/* block design */
.first-heading{
    font-size: 32px;
    font-weight: 800;
}
.block-zero{
    text-align: center;
    margin-top: 135px;
    margin-right: 295px;
    margin-left: 295px;
}
.common-block{
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 48px;
    margin-bottom: 187px;
}
.first-block{
    display: flex;
    margin-bottom: 32px;
}
.second-block{
    display: flex;
    margin-bottom: 32px;
}
.block-third{
    display: flex;
    margin-bottom: 32px;
}
.block-greetings{
    font-size: 24px;
    font-weight: 700px;
}
.paragraph{
    font-size: 16px;
    font-weight: 400;
}
/* video section */
.video-section{
    text-align: center;
}
.video-greetings{
    font-size: 32px;
    font-weight: 800;
}
.video-paragraph{
    font-size: 16px;
    font-weight: 400;
}
.video-section1{
    margin-top: 107px;
    margin-left: 292px;
    margin-right: 292px;
    margin-bottom: 48px;
}
.video-section2{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 151px;
}
.radious-1{
    border-radius: 16px;
}
/* Target Section */
.target-section{
margin-top: 150px;
margin-left: 151px;
margin-right: 151px;
margin-bottom: 111px;
}
.common-block1{
    display: flex;
    margin-top: 48px;
}

.common-heading{
    text-align: center;
}

.html-block{
margin-right: 24px;
background-color: rgba(255, 76, 30, 0.05);
border-radius: 16px;
}
.css-block{
margin-right: 24px;
background-color: rgba(0, 76, 232, 0.05);
border-radius: 16px;
}
.java-block{
background-color: rgba(255, 223, 0, 0.05);
border-radius: 16px;
}
.target-paragraph{
    margin-top: 24px;
}
.target-heading{
    font-size: 32px;
    font-weight: 800;
}